<div class="containerH">
  <h3>Hi, {{username}}</h3>
</div>

<div class="containerH">
   <form method="post" action="/search">
      <input type="text" name="query" placeholder="What's your band name?" />
      <br/>
    </form>
</div>


<div class="containerH">
      <button>Try it!</button>
</div>

