<div class="containerH">
  <p> 
    You searched for <a class="searched" href={{link}}>{{query}}</a>, but it looks like that's already a band name. 
  </p>  
</div>

<div class="containerH">
  <a href={{link}}><img src={{image}} /></a> 
</div>
