<h3>Welcome, {{username}}</h3>

<div class="containerH">
  
  <div class="containerV">
    <h2>Search!</h2>
  </div>

  <div class="containerV">
    <form method="post" action="/search">
      <input type="text" name="query" placeholder="What's your band name?" />
      <br/>
      <button>Try it</button>
    </form>
  </div>


</div>

