<h2>Search!</h2>

<h3>Welcome, {{username}}!</h3>
<form method="post" action="/search">
  <input type="text" name="query" placeholder="What's your band name?" />
  <br/>
  <button>Try it</button>
</form>
