<div class="containerH">
  <button class="logout"><a href="/logout">Log Out</a></button>
</div>

<div class="containerH">
  <h2>Your Previous Searches</h2>
</div>

<div class="containerH">
  <div class="containerV">
    <h3> Already Taken </h3>
    <ul id="foundSearches"></ul>
  </div>
  <div class="containerV">
    <h3> Still Available </h3>
    <ul id="notFoundSearches"></ul>
  </div>
</div>
